/*** 
====================================================================
  About Section
====================================================================
***/

.about-section {
  padding: 120px 0 70px;
  position: relative;
  .content-column {
    margin-bottom: 50px;
    .inner-column {
      padding-left: 80px;
      padding-top: 56px;
      position: relative;
      @include for-xxl{padding-left: 30px;}
      @include media-breakpoint-down(xl){
        padding-left: 0;
        padding-top: 0;
      }
      .sec-title {
        margin-bottom: 20px;
        .text {
          padding-right: 30px;
          @include media-breakpoint-down(xl){
            padding-right: 0;
          }
        }
      }
      .bottom-box {
        align-items: center;
        display: flex;
        margin-left: -2px;
        padding-top: 55px;
        position: relative;
        @include media-breakpoint-down(xl){
          margin-left: 0;
          padding-top: 30px;
        }
        @include media-breakpoint-down(sm){
          align-items: flex-start;
          flex-direction: column;
        }
        .info-btn {
          position: relative;
          small {
            color: var(--theme-color-dark);
            display: block;
            font-family: var(--title-font);
            font-size: 16px;
            font-weight: 500;
            line-height: 1em;
            margin-bottom: 0;
            position: relative;
            text-transform: uppercase;
          }
          strong {
            color: var(--theme-color-dark);
            display: block;
            font-family: var(--title-font);
            font-size: 26px;
            line-height: 1.4em;
            position: relative;
            @include transition(all 300ms ease);
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .author-box {
          align-items: center;
          display: flex;
          margin-left: 57px;
          position: relative;
          @include media-breakpoint-down(sm){
            margin-left: 0;
            margin-top: 10px;
          }
          .author-image {
            position: relative;
            img {
              position: relative;
              z-index: 1;
            }
            &:before {
              background-color: var(--theme-color1);
              clip-path: polygon(45% 0, 100% 0, 55% 100%, 0% 100%);
              content: '';
              height: 108px;
              left: -2px;
              position: absolute;
              top: -9px;
              width: 100px;
            }
          }
          .author-info {
            padding-left: 16px;
            padding-top: 5px;
            position: relative;
            .name {
              color: var(--theme-color-dark);
              font-family: var(--text-font);
              font-size: 18px;
              font-weight: 700;
              margin-bottom: 1px;
              position: relative;
            }
            .designation {
              color: var(--theme-color-dark);
              display: block;
              font-size: 16px;
              font-weight: 500;
              margin-bottom: 0;
              position: relative;
            }
          }
        }
      }
    }
  }

  .image-column {
    margin-bottom: 50px;
    .inner-column {
      margin-bottom: 82px;
      margin-top: 50px;
      position: relative;
      @include media-breakpoint-down(xl){
        margin-bottom: 0;
        margin-top: 0;
      }
      &:before {
        background-color: var(--theme-color1);
        content: "";
        height: 678px;
        left: 80px;
        position: absolute;
        top: -50px;
        transform: skewX(-23deg);
        width: 350px;
        @include media-breakpoint-down(xl){
          display: none;
        }
      }
      .image,
      .image-2 {
        display: inline-block;
        margin-bottom: 0;
        position: relative;
        img {
          display: block;
          height: 100%;
          object-fit: cover;
          position: relative;
          width: 100%;
        }
      }
      .image {
        @include media-breakpoint-down(xl){
          height: 600px;
          width: 100%;
        }
        @include media-breakpoint-down(sm){
          height: auto;
        }
      }
      .image-2 {
        position: absolute;
        right: -12px;
        top: 30px;
        @include media-breakpoint-down(xl){
          display: none;
        }
      }
      .video-box {
        bottom: -93px;
        position: absolute;
        right: 50px;
        @include media-breakpoint-down(xl){
          display: none;
        }
        .play-btn {
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

/*** 
====================================================================
  About Section Two
====================================================================
***/

.about-section-two {
  padding: 120px 0 70px;
  position: relative;
  .sec-title {
    margin-bottom: 63px;
  }
  .content-column {
    margin-bottom: 50px;
    .inner-column {
      padding-left: 10px;
      padding-top: 25px;
      position: relative;
      @include media-breakpoint-down(xl){
        padding-left: 0;
        padding-top: 0;
      }
      .title {
        border-bottom: 5px solid var(--theme-color1);
        display: inline-block;
        line-height: .7em;
        position: relative;
        text-transform: uppercase;
      }
      .text {
        color: #444444;
        padding-right: 70px;
        position: relative;
        @include media-breakpoint-down(lg){
          padding-right: 0;
        }
      }
      .title.two {
        margin-top: 55px;
        margin-bottom: 35px;
      }
      .theme-btn {
        margin-top: 30px;
      }
    }
  }
  .image-column {
    margin-bottom: 50px;
    .inner-column {
      margin-bottom: 83px;
      position: relative;
      @include media-breakpoint-down(lg){
        margin-bottom: 0;
      }
      &:before {
        background-color: var(--theme-color1);
        clip-path: polygon(45% 0, 100% 0, 55% 100%, 0% 100%);
        content: "";
        left: 85px;
        height: 528px;
        position: absolute;
        top: -21px;
        width: 492px;
        @include media-breakpoint-down(xl){
          display: none;
        }
      }
      .image,
      .image-2 {
        display: inline-block;
        margin-bottom: 0;
        position: relative;
        @include media-breakpoint-down(xl){
          height: 500px;
          width: 100%;
        }
        @include media-breakpoint-down(lg){
          height: 600px;
          width: 100%;
        }
        @include media-breakpoint-down(sm){
          height: auto;
        }
        img {
          display: block;
          object-fit: cover;
          position: relative;
          width: 100%;
        }
      }
      .image-2 {
        position: absolute;
        right: 23px;
        top: 93px;
        @include media-breakpoint-down(xl){
          display: none;
        }
      }
      .exp-box {
        align-items: center;
        background-color: var(--theme-color-light);
        border: 2px solid var(--theme-color1);
        bottom: -40px;
        display: flex;
        left: 45px;
        padding: 25px 40px 22px;
        position: absolute;
        @include media-breakpoint-down(xl){
          bottom: 20px;
          left: 20px;
        }
        @include media-breakpoint-down(sm){
          align-items: flex-start;
          bottom: 20px;
          flex-direction: column;
          left: 15px;
          padding: 20px 20px;
        }
        .count {
          color: var(--theme-color-dark);
          font-size: 83px;
          margin-bottom: 0;
          margin-right: 15px;
          position: relative;
          @include media-breakpoint-down(sm){
            font-size: 60px;
            margin-right: 0;
          }
          small {
            font-size: 86px;
            @include media-breakpoint-down(sm){
              font-size: 70px;
              margin-right: 0;
            }
          }
        }
        .title {
          color: var(--theme-color-dark);
          margin-bottom: 0;
          position: relative;
          text-transform: uppercase;
          @include media-breakpoint-down(sm){
            font-size: 20px;
          }
        }
      }
    }
  }
}

/*** 

====================================================================
    About Section Three
====================================================================

***/

.about-section-three {
  position: relative;
  padding: 120px 0 0;
  margin-bottom: 20px;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 195px;
    width: 480px;
    height: 100%;
    background-color: var(--theme-color1);
    transform: skewX(-23deg);
    z-index: 1;
    @include media-breakpoint-down(xl){
      display: none;
    }
  }
  .outer-box {
    position: relative;
    z-index: 2;

    .content-column {
      margin-bottom: 50px;
      .inner-column {
        position: relative;
        padding-top: 35px;
        padding-left: 38px;
        @include media-breakpoint-down(xxl){
          padding-left: 0;
        }
        @include media-breakpoint-down(xl){
          padding-top: 0;
        }
        .sec-title {
          @include media-breakpoint-down(xl){
            margin-bottom: 30px;
          }
          .sub-title {
            margin-bottom: 10px;
          }
          h2 {
            margin-right: -30px;
            line-height: 1em;
            @include media-breakpoint-down(xxl){
              margin-right: 0;
            }
          }
          .text {
            margin-top: 20px;
            @include media-breakpoint-down(xl){
              margin-top: 10px;
            }
          }
        }
        .bottom-box {
          padding-top: 18px;
          padding-left: 149px;
          @include media-breakpoint-down(xl){
            padding-top: 0;
            padding-left: 0;
          }
        }
        .author-box {
          position: relative;
          display: flex;
          align-items: center;
          margin-bottom: 28px;
          @include media-breakpoint-down(sm){
            margin-bottom: 15px;
          }
          .author-image {
            position: relative;
            img {
              position: relative;
              z-index: 1;
            }
            &:before {
              content: '';
              position: absolute;
              top: -9px;
              left: -2px;
              width: 100px;
              height: 108px;
              clip-path: polygon(45% 0, 100% 0, 55% 100%, 0% 100%);
              background-color: var(--theme-color1);
            }
          }
          .author-info {
            position: relative;
            padding-top: 5px;
            padding-left: 16px;
            .name {
              position: relative;
              color: var(--theme-color-dark);
              font-size: 18px;
              font-weight: 700;
              margin-bottom: 1px;
              font-family: var(--text-font);
            }
            .designation {
              position: relative;
              color: var(--theme-color-dark);
              display: block;
              font-size: 16px;
              font-weight: 500;
              margin-bottom: 0;
            }
          }
          .sign.hide-sm {
            position: relative;
            margin-left: 23px;
            @include media-breakpoint-down(sm){
              margin-left: 0;
              display: none;
            }
          }
        }
        .sign.hide-lg {
          display: none;
          @include media-breakpoint-down(sm){
            display: block;
            margin-bottom: 10px;
          }
        }
      }
    }
    
    .image-column {
      margin-bottom: 50px;
      .inner-column {
        position: relative;
        .image {
          position: relative;
          display: inline-block;
          margin-bottom: 0;
          @include media-breakpoint-down(lg){
            width: 100%;
            height: 700px;
          }
          @include media-breakpoint-down(sm){
            height: auto;
          }
          img {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .video-box {
          position: absolute;
          right: -155px;
          bottom: 65px;
          @include media-breakpoint-down(xl){
            display: none;
          }
          .image {
            border: 1px solid #cecece;
          }
          .play-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .icon-triangle{
              height: 72px;
              width: 72px;
            }
          }
        }
      }
    }
  }

  .fun-fact-two {
    position: relative;
    bottom: -20px;
    margin-top: 20px;
    .fact-counter {
      position: relative;
      border: 1px solid #cecece;
      overflow: hidden;
      box-shadow: 0 10px 10px rgb(0, 0, 0, 0.08);
      background-color: var(--theme-color-light);
      z-index: 2;
      @include media-breakpoint-down(xl){padding: 0px 15px;}
      @include media-breakpoint-down(lg){
        flex-direction: column;
        padding: 0;
      }
    }
  }
}

.counter-block-two {
  &:first-child {
    .inner-box {
      &:before {
        left: -100px;
      }
    }
  }
  &:last-child {
    .inner-box {
      &:before {
        right: -100px;
      }
    }
  }
  .inner-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 53px 42px 53px 42px;
    height: 100%;
    @include transition(all 300ms ease);
    @include media-breakpoint-down(xl){padding: 50px 15px;}
    @include media-breakpoint-down(sm){flex-direction: column;}
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: -30px;
      right: -30px;
      height: 100%;
      opacity: 0;
      background-color: var(--theme-color-dark);
      clip-path: polygon(18% 0, 100% 0, 83% 100%, 0% 100%);
      @include transition(all 300ms ease);
      @include media-breakpoint-down(sm){
        clip-path: none;
      }
    }
    &:hover {
      &:before {
        opacity: 1;
      }
      .counter-one,
      .counter-text {
        color: var(--theme-color-light);
      }
      .icon-box {
        &:before {
          opacity: .20;
        }
        .icon {
          color: var(--theme-color-light);
          transform: scaleX(-1);
        }
      }
    }
    .icon-box {
      position: relative;
      display: inline-block;
      margin-bottom: 8px;
      margin-right: 20px;
      @include media-breakpoint-down(sm){
        margin-right: 0;
      }
      &.two {
        &:before {
          top: 3px;
          right: auto;
          left: -17px;
        }
      }
      &.three {
        &:before {
          right: 50%;
          transform: translate(50%);
        }
      }
      &:before {
        content: '';
        position: absolute;
        top: 5px;
        right: -5px;
        width: 54px;
        height: 54px;
        border-radius: 50%;
        background-color: var(--theme-color1);
        @include transition(all 300ms ease);
      }
      .icon {
        position: relative;
        display: inline-block;
        color: var(--theme-color-dark);
        font-size: 85px;
        line-height: 1em;
        @include transition(all 300ms ease);
        @include media-breakpoint-down(sm){
          font-size: 70px;
        }
      }
    }
    .counter-one {
      position: relative;
      font-size: 50px;
      line-height: 1em;
      letter-spacing: 0.04em;
      font-family: var(--title-font);
      color: var(--theme-color-dark);
      margin-bottom: 0;
      @include transition(all 300ms ease);
    }
    .counter-text {
      position: relative;
      font-size: 20px;
      line-height: 1em;
      color: var(--theme-color-dark);
      margin-bottom: 0;
      margin-top: -5px;
      letter-spacing: 0.040em;
      text-transform: uppercase;
      @include transition(all 300ms ease);
    }
  }
}

/*** 
====================================================================
  About Section Four
====================================================================
***/

.about-section-four {
  padding: 120px 0 101px;
  position: relative;
  .content-column {
    @include media-breakpoint-down(xl){
      margin-bottom: 50px;
    }
    .inner-column {
      position: relative;
      @include media-breakpoint-down(xl){
        padding-top: 0;
      }
      .sec-title {
        margin-bottom: 40px;
        .text {
          color: var(--text-color);
          padding-right: 135px;
          margin-top: 28px;
          @include media-breakpoint-down(xl){
            padding-right: 0;
          }
        }
      }
    }
  }

  .fun-fact-column {
    .inner-column {
      padding-top: 18px;
      padding-left: 23px;
      margin-right: 30px;
    }
    .counter-outer-box {
      position: relative;
      .image {
        margin-bottom: 0;
        position: absolute;
        left: -195px;
        bottom: 0;
        z-index: 1;
        pointer-events: none;
        img {
          width: auto;
        }
      }
    }
  }
}

.counter-block-three {
  .inner-box {
    position: relative;
    margin-bottom: 20px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -5px;
      width: 17px;
      height: 100%;
      background-color: var(--theme-color1);
      transform: skewX(-19deg);
      @include transition(all 300ms ease);
    }
    &:hover {
      &::before {
        background-color: var(--theme-color-dark);
      }
      .content {
        background-color: var(--theme-color1);
        .counter-text {
          color: var(--text-color-bg-theme-color1);
          &:after,
          &:before {
            background-color: var(--text-color-bg-theme-color1);
          }
        }
        .counter-one {
          color: var(--text-color-bg-theme-color1);
        }
      }
    }
    .content {
      background-color: #040404;
      padding: 25px 40px 16px 210px;
      position: relative;
      clip-path: polygon(0 0, 100% 0, 89% 100%, 0 100%);
      @include transition(all 300ms ease);
      .counter-text {
        color: var(--theme-color1);
        font-weight: 600;
        margin-bottom: 7px;
        @include transition(all 300ms ease);
      }
      .counter-one {
        color: var(--theme-color-light);
        font-size: 48px;
        font-weight: 600;
        font-family: var(--style-font);
        @include transition(all 300ms ease);
        .counter-after {
          font-size: 50px;
          font-family: var(--title-font);
          position: relative;
          top: -3px;
          margin-left: 2px;
        }
      }
    }
  }
}