.accordion-box {
  position: relative;
  .block {
    background-color: #ffffff;
    box-shadow: 0 5px 40px rgba(0, 0, 0, .05);
    margin-bottom: 10px;
    position: relative;
    .acc-btn {
      border-bottom: 1px solid #fff;
      color: var(--headings-color);
      cursor: pointer;
      font-size: 20px;
      font-family: var(--title-font);
      font-weight: var(--h4-font-weight);
      padding: 20px 30px;
      padding-right: 70px;
      position: relative;
      transition: all 500ms ease;
      .icon {
        align-items: center;
        color: var(--theme-color2);
        display: flex;
        font-size: 18px;
        height: 35px;
        line-height: 2;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
      }
      &.active {
        background-color: var(--bg-theme-color2);
        color: var(--theme-color-light);
        .icon {
          color: var(--text-color-bg-theme-color2);
          &:before {
            content: "\f068";
          }
        }
      }
    }
    .acc-content {
      display: none;
      position: relative;
      .content {
        padding: 25px 30px;
        position: relative;
        .text {
          display: block;
          font-size: 16px;
          line-height: 30px;
          margin-bottom: 0;
        }
      }
      &.current {
        display: block;
      }
    }
  }
}