
/*** 

====================================================================
Main Header
====================================================================

***/

.header-span {
    position: relative;
    height: 110px;
    display: block;
    width: 100%;
}

.main-header {
    position: relative;
    width: 100%;
    z-index: 999;
}

.header-top {
    position: relative;
    display: flex;
    .inner-container{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding:0 80px;
        @include media-breakpoint-down(xxl){
            padding: 0 20px;
        }
    }
    .top-left { 
        position: relative;
        display: flex;
        align-items: center;
    }
    .top-right {
        position: relative;
        display: flex;
        align-items: center;
        .social-icon-one{
            margin-left: 41px;
        }
    }

    .useful-links{
        display: flex;
        align-items: center;
        padding: 12px 0;
        li{
            position: relative;
            padding-left: 15px;
            margin-left: 15px;
            font-size: 12px;
            color: #75767a;
            line-height: 20px;
            &:first-child{
                margin-left: 0;
                padding-left: 0;
                &:before {
                    display: none;
                }
            }
            &:before{
                position: absolute;
                left:-3px;
                top: 0;
                content: "/";
            }
            a{
                color: #808287;
                @include transition(all 300ms ease);
                &:hover{
                    color: var(--theme-color-light);
                }
            }
        }
    }
}

.main-header .header-lower {
    position: relative;
    @include transition(all 300ms ease);
    .logo-box {
        position: relative;
        padding: 20px 0;
    }
}

.main-header {
    width: 100%;
    z-index: 999;
    .logo {
        position: relative;
        display: block;

        img {
            max-width: 100%;
            height: auto;
        }
    }
    .main-box {
        position: relative;
        left: 0px;
        top: 0px;
        display: flex;
        align-items: center;
        @include transition(all 300ms ease);
        .nav-outer {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            
        }
    }
}

.main-menu{
    position:relative;
    @include media-breakpoint-down(lg){
        display: none;
    }
}

.main-menu .navbar-header{
    display: none;
}

.main-menu .navbar-collapse{
    padding:0px;    
}

.main-menu .navigation{
    position:relative;
    margin:0px;
}

.main-menu .navigation > li{
    position:relative;
    float:left;
    padding: 14px 0px;
    margin-right: 48px;
    transition:all 300ms ease;
    &:last-child {
        margin-right: 0;
    }
    &:before {
        content: "";
        position: absolute;
        left:50%;
        top: 50%;
        width: 0%;
        height: 2px;
        margin-top: 10px;
        background-color: var(--theme-color1);
        @include transition(all 300ms ease);
        z-index: 3;
    }
    &:hover:before,
    &.current:before {
        left: -0;
        width: 100%;
    }
    >a{
        position:relative;
        display:block;
        text-align:center;
        opacity:1;
        color: var(--theme-color-light);
        font-size: 16px;
        line-height:30px;
        font-weight: 500;
        padding: 0;
        display: flex;
        @include transition(all 300ms ease);
        .icon {
            position: relative;
            font-size: 22px;
            line-height: 24px;
            margin-left: 10px;
        }
        &:hover{
            color: var(--theme-color1);
        }
    }
    &.current>a {
        color: var(--theme-color1);
    }
    &.dropdown>a {
        padding-right: 14px;
        margin-right: -14px;
    }
    &.dropdown>a:after {
        content: "\f107";
        position: absolute;
        right: 0;
        top: 50%;
        width: 10px;
        height: 20px;
        display: block;
        line-height: 24px;
        font-size: 12px;
        z-index: 5;
        font-family: "Font Awesome 6 Pro";
        font-weight: 900;
        margin-top: -2px;
        transform: translateY(-50%);
    }
    &.dropdown:hover>ul {
        visibility: visible;
        opacity: 1;
        top: 100%;
        margin-top: 0;
        @include transition(all 300ms ease);
    }
}

.main-menu .navigation > li > ul{
    position: absolute;
    left: 0px;
    top: 100%;
    width: 220px;
    z-index: 100;
    padding: 10px 0 0;
    background-color: #ffffff;
    margin-top: 30px;
    opacity: 0;
    display: none;
    box-shadow: 0 0 3px rgb(0 0 0 / 10%);
    box-shadow: 2px 2px 5px 1px rgb(0 0 0 / 5%), -2px 0px 5px 1px rgb(0 0 0 / 5%);
    &.from-right{
        left:auto;
        right:0px;  
    }
    >li{
        position:relative;
        width:100%;
        border-bottom: 1px solid #ebf1f5;
        &:last-child {
            border-bottom: none;
        }
        >a{
            position:relative;
            display:block;
            padding:10px 0px;
            line-height:29px;
            font-weight:400;
            font-size:16px;
            color:var(--theme-color-dark);
            text-align: left;
            margin: 0 30px;
            text-transform:capitalize;
            transition:all 200ms ease;
        }
        &:hover > a{
            color:var(--theme-colo-dark);
        }
        &.dropdown > a:after{
            font-family: 'Font Awesome 6 Pro';
            content: "\f105";
            position:absolute;
            right:0;
            top:11px;
            display:block;
            line-height:24px;
            font-size:14px;
            font-weight:900;
            z-index:5;  
        }
        &.dropdown:hover>ul {
            visibility: visible;
            opacity: 1;
            top: 0px;
            margin-top: 20px;
            @include transition(all 300ms ease);
        }
    }
}

.main-menu .navigation > li > ul > li > ul{
    position:absolute;
    left:100%;
    top:0px;
    width:220px;
    z-index:100;
    display:none;
    background-color: #ffffff;
    opacity:0;
    padding: 10px 0 0;
    margin-top: 10px;
    transform:translateY(-30px);
    box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
    > li{
        position:relative;
        border-bottom: 1px solid #ebf1f5;
        width:100%;
        &:last-child{
            border-bottom:none; 
        }
        > a{
            position:relative;
            display:block;
            padding:10px 0;
            line-height:24px;
            font-weight:400;
            font-size:16px;
            color:var(--theme-color-dark);
            text-align: left;
            margin: 0 30px;
            text-transform:capitalize;
            transition:all 300ms ease;
            &:hover{
                color:var(--theme-colo-dark);
            }
        }
    }
}

.main-menu .navigation li.dropdown .dropdown-btn{
    position:absolute;
    right:10px;
    top:8px;
    width:34px;
    height:30px;
    border:1px solid #ffffff;
    text-align:center;
    font-size:16px;
    line-height:26px;
    color:#ffffff;
    cursor:pointer;
    z-index:5;
    display:none;
}

.main-header .outer-box {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    .theme-btn{
        margin-left: 40px;
    }
    
}

.main-header .ui-btn {
    position: relative;
    display: block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    background: none;
    font-size: 24px;
    color: var(--theme-color-dark);
    @include transition(all 300ms ease);
    &:hover {
        color: var(--theme-color1);
    }
    &.light {
        color: var(--theme-color-light);
        &:hover {
            color: var(--theme-color1);
        }
    }
}

.main-header .info-btn {
    position: relative;
    font-size: 16px;
    padding-left: 44px;
    color: #ffffff;
    text-align: left;
    font-weight: 500;
    white-space: nowrap;
    line-height: 20px;
    margin-left: 40px;
    small{
        display: block;
        font-size: 10px;
        font-weight: 500;
        text-transform: uppercase;
        color: var(--theme-color1);
    }
    .icon{
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -12px;
        line-height: 40px;
        height: 40px;
        font-size: 24px;
        line-height: 1em;
        margin-right: 20px;
        padding-right: 20px;
    }
    &:hover{
        color: var(--theme-color-light);
    }
}


.header-search {
    position: relative;
    width: 110px;
    flex-shrink: 0;
    .form-group {
        position: relative;
        input:not([type=submit]) {
            position: relative;
            display: block;
            width: 100%;
            font-size: 14px;
            font-weight: 500;
            height: 30px;
            line-height: 20px;
            padding: 5px 0;
            padding-left: 30px;
            color: var(--text-color);
            background: transparent;
            @include transition(all 300ms ease);
            border-bottom: 1px solid transparent;
            &::placeholder {
                color: var(--text-color);
            }
            &:focus{
                border-bottom: 1px solid var(--theme-color-light);
            }
        }
        .icon {
            position: absolute;
            top: 0px;
            left: 0;
            @include flex-center;
            line-height: 20px;
            font-size: 20px;
            padding: 5px 0;
            color:var(--theme-color-dark);
            background: none;
        }
    }
}

/*** 

====================================================================
    Header Style One
====================================================================

***/

.header-style-one {
    position: relative;
    .header-top {
        position: relative;
        background-color: var(--theme-color-dark);
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background-color: var(--theme-color1);
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            width: 22px;
            height: 100%;
            background-color: var(--theme-color1);
            clip-path: polygon(0 0, 0% 100%, 100% 0);
        }
        @include media-breakpoint-down(lg){
            display: none
        }
        .inner-container {
            padding: 0;
        }
    }
    .header-lower {
        position: relative;
        background-color: var(--theme-color-dark);
        .main-box {
            .logo-box{
                position: relative;
                margin-right: 50px;
                flex-shrink: 0;
                @include media-breakpoint-down(lg){
                    padding: 10px 0;
                }
            }
            .nav-outer {
                justify-content: center;
            }

            .outer-box {
                position: relative;
                flex-shrink: 0;
                .btn-box {
                    @include media-breakpoint-down(xl){display: none;}
                    .theme-btn {padding: 22px 92px 22px 47px;}
                }
            }
        }
    }
}

/*** 

====================================================================
    Header Style Two
====================================================================

***/

.header-style-two {
    position: relative;
    .header-top {
        position: relative;
        background-color: var(--theme-color-dark);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        @include media-breakpoint-down(lg){
            display: none
        }
        .inner-container {
            padding: 0;
        }
    }
    .header-lower {
        position: relative;
        background-color: var(--theme-color-dark);
        .main-box {
            .logo-box{
                position: relative;
                padding: 17px 0;
                margin-right: 50px;
                flex-shrink: 0;
            }
            .nav-outer {
                justify-content: center;
            }

            .outer-box {
                position: relative;
                flex-shrink: 0;
                .theme-btn {
                    @include media-breakpoint-down(xl){
                        display: none;
                    }
                }
            }
        }
    }
}

/*** 

====================================================================
    Header Style Three
====================================================================

***/

.header-style-three {
    position: relative;
    .header-top {
        position: relative;
        background-color: var(--theme-color-light);
        @include media-breakpoint-down(lg){
            display: none;
        }
        .inner-container {
            padding: 0;
            padding-bottom: 2px;
            .social-icon-one {
                a {
                    color: var(--theme-color-dark);
                    &:hover {
                        color: var(--theme-color1);
                    }
                }
            }
        }
    }
    .header-lower {
        position: relative;
        background-color: var(--theme-color-light);
        .main-box {
            .logo-box{
                position: relative;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                padding: 18px 0;
                padding-right: 95px;
                margin-right: 17px;
                .logo {
                    img {
                        position: relative;
                        z-index: 3;
                    }
                }
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 26px;
                    width: 1000%;
                    height: 100%;
                    transform: skewX(33deg);
                    background-color: var(--theme-color-dark);
                    border-right: 10px solid var(--theme-color1);
                }
            }
            .nav-outer {
                .navigation >li >a {
                    color: var(--theme-color-dark);
                }
            }

            .outer-box {
                position: relative;
                flex-shrink: 0;
                .btn-box {
                    @include media-breakpoint-down(xl){display: none;}
                    .theme-btn {padding: 22px 92px 22px 47px;}
                }
            }
        }
    }
}

/*** 

====================================================================
    Sticky Header
====================================================================

***/

.sticky-header {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 99999;
    background: #ffffff;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.05);
    box-shadow: 0 0 20px rgba(0,0,0,.05);
    @include media-breakpoint-down(lg){
        padding: 5px 0;
    }
}

.sticky-header.fixed-header{
    opacity:1;
    z-index: 9999;
    visibility:visible;
}

.sticky-header{
    .logo {
        padding: 5px 0;
        img {
            max-height: 40px;
        }
    }
    .nav-outer {
        position: relative;
        background: none;
    }
    .inner-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}


.sticky-header .main-menu .navigation > li{
    margin: 0;
    margin-left: 60px;
    padding: 20px 0;
}

.sticky-header .main-menu .navigation > li > a{
    color: var(--theme-color-dark);
}

.sticky-header .main-menu .navigation > li.current > a, 
.sticky-header .main-menu .navigation > li:hover > a{
    color: var(--theme-color-dark);
}

.sticky-header .outer-box,
.sticky-header .navbar-header {
    display: none;
}

.sticky-header .mobile-nav-toggler {
    color: var(--theme-color-dark);
}


@media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}