/*** 

====================================================================
    Pricing Section
====================================================================

***/

.pricing-section {
  position: relative;
  padding: 120px 0 120px;
  .default-dots {
    .owl-dots {
      margin-top: 40px;
    }
  }
}

.pricing-block {
  margin-bottom: 30px;
  .inner-box{
    position: relative;
    border-top: 0;
    overflow: hidden;
    background-color: transparent;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100px;
      background-color: #f5f5f5;
      clip-path: polygon(100% 0, 0 100%, 0 0);
      z-index: 1;
    }
    &:hover {
      .content {
        &:before {
          height: 100%;
        }
      }
      .feature-list li {
        color: var(--theme-color-light);
        &.colored {
          background-color: #0f0f0f;
        }
      }
      .car-name,
      .city {
        color: var(--theme-color-light);
      }
      .theme-btn {
        background-color: var(--theme-color1);
      }
    }
    .image-box {
      position: relative;
      z-index: 2;
      .image {
        position: relative;
        margin-bottom: 0;
        display: block;
        overflow: hidden;
        clip-path: polygon(0 27.5%, 100% 0, 100% 74%, 0 99%);
        &:before {
          content: '';
          @include overlay;
          opacity: .70;
          background-color: var(--theme-color1);
          z-index: 1;
        }
      }
      .icon-car {
        position: absolute;
        bottom: 16px;
        right: 0;
        @include transition(all 300ms ease);
        z-index: 1;
      }
    }
    .content {
      position: relative;
      padding: 120px 30px 23px 25px;
      margin-top: -100px;
      border: 1px solid #cbcbcb;
      border-top: none;
      background-color: var(--theme-color-light);
      @include media-breakpoint-down(xl){
        padding: 120px 15px 20px;
      }
      @include media-breakpoint-down(sm){
        padding: 120px 10px 15px;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background-color: var(--theme-color-dark);
        @include transition(all 300ms ease);
      }
    }
    .car-detail {
      padding-top: 10px;
      padding-left: 27px;
      @include media-breakpoint-down(lg){
        padding-left: 15px;
      }
    }
    .car-name {
      position: relative;
      color: var(--theme-color-dark);
      font-size: 32px;
      margin-bottom: 2px;
      text-transform: uppercase;
      @include transition(all 300ms ease);
    }
    .city {
      position: relative;
      font-family: var(--title-font);
      color: var(--theme-color-dark);
      font-size: 21px;
      letter-spacing: .120em;
      margin-bottom: 26px;
      text-transform: uppercase;
      @include transition(all 300ms ease);
    }
    .feature-list {
      position: relative;
      margin-bottom: 16px;
      li {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 30px 8px 30px;
        margin-bottom: 2px;
        color: #444444;
        @include transition(all 300ms ease);
        @include media-breakpoint-down(xl){
          padding: 8px 15px;
        }
        &.colored {
          background-color: #f3f3f3;
        }
        .price {
          position: relative;
          font-weight: 700;
          width: 75px;
          text-align: left;
        }
      }
    }
    .btn-box {
      position: relative;
      margin: 0 auto;
    }
    .theme-btn {
      margin-top: 15px;
      width: 100%;
      padding: 17px 30px 12px;
    }
  }
}

/*** 

====================================================================
    Pricing Section Two
====================================================================

***/

.pricing-section-two {
  position: relative;
  padding: 120px 0 120px;
  .sec-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 65px;
    @include media-breakpoint-down(lg){
      flex-direction: column;
      align-items: flex-start;
    }
    .text {
      max-width: 400px;
      @include media-breakpoint-down(lg){
        max-width: 100%;
      }
    }
  }
  .default-dots {
    .owl-dots {
      margin-top: 40px;
    }
  }
}

.pricing-block-two {
  margin-bottom: 30px;
  .inner-box{
    position: relative;
    overflow: hidden;
    background-color: var(--theme-color-light);
    &:hover {
      .image-box {
        &:before {
          background-color: var(--theme-color-dark);
        }
        .image {
          img {
            transform: scale(1.1);
          }
        }
      }
      .content {   
        .price {
          color: var(--theme-color-light);
          background-color: var(--theme-color-dark);
          &:before {
            background-color: var(--theme-color-dark);
          }
        }
      }
    }
    .image-box {
      position: relative;
      padding-top: 14px;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 80px;
        width: 190px;
        height: 257px;
        background-color: var(--theme-color1);
        transform: skewX(-23deg);
        @include transition(all 300ms ease);
        @include media-breakpoint-down(xl){
          top: -30px;
        }
      }
      .image {
        position: relative;
        overflow: hidden;
        display: inline-block;
        margin-bottom: 0;
        img {
          position: relative;
          width: 100%;
          height: 100%;
          object-fit: cover;
          @include transition(all 300ms ease);
        }
      }
    }
    .content {
      position: relative;
      padding: 36px 4px 0;
      .title {
        position: relative;
        color: var(--theme-color-dark);
        font-size: 30px;
        line-height: 1.2em;
        margin-bottom: 0;
        text-transform: uppercase;
        @include transition(all 300ms ease);
      }
      .city {
        position: relative;
        font-family: var(--title-font);
        color: #444444;
        font-size: 21px;
        line-height: 1em;
        margin-bottom: 22px;
        letter-spacing: 0.120em;
        text-transform: uppercase;
      }
      .price {
        position: relative;
        display: inline-block;
        padding: 12px 36px 5px 20px;
        font-size: 34px;
        font-family: var(--title-font);
        color: var(--theme-color-dark);
        background-color: var(--theme-color1);
        text-transform: uppercase;
        margin-bottom: 0;
        @include transition(all 300ms ease);
        small {
          font-size: 20px;
        }
        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: -34px;
          width: 35px;
          height: 100%;
          clip-path: polygon(0 0, 0% 100%, 100% 0);
          background-color: var(--theme-color1);
          @include transition(all 300ms ease);
        }
      }
    }
  }
}

/*** 

====================================================================
    Pricing Section Three
====================================================================

***/

.pricing-section-three {
  position: relative;
  padding: 120px 0 90px;
}

.pricing-block-three {
  margin-bottom: 30px;
  .inner-box{
    position: relative;
    border: 1px solid #cbcbcb;
    background-color: var(--theme-color-light);
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      background-image: url(../images/icons/bg-pricing.jpg);
      @include transition(all 300ms ease);
    }
    &:hover {
      &:before {
        height: 100%;
      }
      .content {
        .feature-list {
          li {
            color: #e5e5e5;
            border-color: #3f4140;
          }
        }
        .theme-btn {
          &:before {
            border-color: transparent;
            background-color: var(--theme-color1);
          }
          &:hover{
            &:before{
              border: 1px solid #a7a7a7;
            }
          }
        }
      }
    }
    .title-box {
      position: relative;
      padding: 55px 67px 53px;
      z-index: 1;
      @include media-breakpoint-down(sm){
        padding: 30px 30px;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: auto;
        height: 100%;
        clip-path: polygon(13% 0, 100% 0, 86% 100%, 0% 100%);
        background-color: var(--theme-color1);
        @include media-breakpoint-down(sm){
          clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
        }
      }
      .title {
        position: relative;
        font-size: 18px;
        letter-spacing: 0.130em;
        color: #444444;
        margin-bottom: 25px;
        text-transform: uppercase;
      }
      .price {
        position: relative;
        font-size: 70px;
        font-family: var(--title-font);
        color: var(--theme-color-dark);
        text-transform: uppercase;
        sub {
          font-size: 19px;
        }
      }
      .icon-tag {
        position: absolute;
        bottom: -26px;
        right: 30px;
        width: 69px;
        height: 69px;
        @include flex-center;
        border-radius: 50%;
        color: var(--theme-color1);
        background-color: var(--theme-color-dark);
        border: 2px solid var(--theme-color1);
        background-repeat: no-repeat;
        background-position: center;
        @include transition(all 300ms ease);
        @include media-breakpoint-down(sm){
          right: 10px;
        }
      }
      .icon {
        position: absolute;
        bottom: -26px;
        right: 30px;
        width: 69px;
        height: 69px;
        @include flex-center;
        border-radius: 50%;
        font-size: 28px;
        color: var(--theme-color1);
        background-color: var(--theme-color-dark);
        border: 2px solid var(--theme-color1);
        @include transition(all 300ms ease);
        @include media-breakpoint-down(sm){
          right: 10px;
        }
      }
    }
    .content {
      position: relative;
      padding: 45px 46px 35px;
      @include media-breakpoint-down(xl){
        padding: 40px 30px;
      }
      @include media-breakpoint-down(sm){
        padding: 40px 15px 20px;
      }
      .feature-list {
        position: relative;
        margin-bottom: 20px;
        li {
          position: relative;
          display: flex;
          align-items: center;
          padding-bottom: 14px;
          margin-bottom: 15px;
          color: #444444;
          border-bottom: 1px solid #c1c1c1;
          @include transition(all 300ms ease);
          &:last-child {
            border-bottom: none;
          }
          i {
            position: relative;
            color: #4ede30;
            font-size: 20px;
            margin-right: 15px;
          }
        }
      }
      .btn-box {
        position: relative;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 58px;
          width: 10px;
          height: 100%;
          transform: skewX(-20deg);
          background-color: var(--theme-color1);
          @include transition(all 300ms ease);
        }
        &:hover {
          &:before {
            border: 1px solid #a7a7a7;
            background-color: var(--theme-color-dark);
          }
        }
      }
    }
  }
}

/*** 

====================================================================
    Pricing Section Four
====================================================================

***/

.pricing-section-four {
  position: relative;
  padding: 120px 0 120px;
  .default-dots {
    .owl-dots {
      margin-top: 40px;
    }
  }
}

.pricing-block-four {
  margin-bottom: 30px;
  .inner-box{
    position: relative;
    border-top: 0;
    overflow: hidden;
    background-color: transparent;
    &:hover {
      .image-box {
        .image {
          img {
            transform: scale(1.1);
          }
        }
      }
      .content {
        &:before {
          height: 100%;
        }
      }
      .feature-list li {
        color: var(--theme-color-light);
        &.colored {
          background-color: #0f0f0f;
        }
      }
      .car-name,
      .city {
        color: var(--theme-color-light);
      }
      .theme-btn {
        background-color: var(--theme-color1);
      }
    }
    .image-box {
      position: relative;
      z-index: 2;
        &:before {
          content: "";
          position: absolute;
          left: 17px;
          bottom: -18px;
          height: 100%;
          width: calc(100% - 34px);
          background-color: var(--theme-color1);
          clip-path: polygon(0 27.5%, 100% 0, 100% 74%, 0 99%);
          transform: rotate(1deg);
        }
      .image {
        position: relative;
        margin-bottom: 0;
        display: block;
        overflow: hidden;
        clip-path: polygon(0 27.5%, 100% 0, 100% 74%, 0 99%);
        img {
          transition: all 300ms ease;
        }
      }
    }
    .content {
      position: relative;
      padding: 120px 30px 23px 25px;
      margin-top: -100px;
      border: 1px solid #EDEDED;
      border-top: none;
      background-color: var(--theme-color-light);
      @include media-breakpoint-down(xl){
        padding: 120px 15px 20px;
      }
      @include media-breakpoint-down(sm){
        padding: 120px 10px 15px;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background-color: var(--theme-color-dark);
        @include transition(all 300ms ease);
      }
    }
    .car-detail {
      padding-top: 10px;
      padding-left: 27px;
      @include media-breakpoint-down(xl){
        padding-left: 15px;
      }
    }
    .car-name {
      position: relative;
      color: var(--theme-color-dark);
      font-size: 32px;
      margin-bottom: 2px;
      text-transform: uppercase;
      @include transition(all 300ms ease);
    }
    .city {
      position: relative;
      font-family: var(--title-font);
      color: var(--theme-color-dark);
      font-size: 21px;
      letter-spacing: .120em;
      margin-bottom: 26px;
      @include transition(all 300ms ease);
    }
    .feature-list {
      position: relative;
      margin-bottom: 16px;
      li {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 30px 8px 30px;
        margin-bottom: 2px;
        color: #444444;
        @include transition(all 300ms ease);
        @include media-breakpoint-down(xl){
          padding: 8px 15px;
        }
        &.colored {
          background-color: #f3f3f3;
        }
        .price {
          position: relative;
          font-weight: 700;
          width: 75px;
          text-align: left;
        }
      }
    }
    .btn-box {
      position: relative;
      margin: 0 auto;
      padding: 0 15px 17px 15px;
    }
    .theme-btn {
      border: 1px solid #040404;
      margin-top: 15px;
      padding: 20.5px 88px;
      @include media-breakpoint-down(xl){
        padding: 20px 25px;
        width: 100%;
      }
    }
  }
}

/*** 

====================================================================
    Pricing Section Five
====================================================================

***/

.pricing-section-five {
  position: relative;
  padding: 120px 0 120px;
  .sec-title {
    margin-bottom: 30px;
    h2 {
      font-size: 48px;
      line-height: 1.45;
    }
  }
  .outer-box {
    padding-left: 60px;
    position: relative;
    .image {
      position: absolute;
      left: -235px;
      bottom: 64px;
    }
  }
}

.pricing-block-five {
  margin-bottom: 30px;
  .inner-box{
    position: relative;
    border-top: 0;
    overflow: hidden;
    background-color: transparent;
    &:hover, &.active {
      .content {
        &:before {
          height: 0;
        }
        &:after {
          top: -7px;
        }
      }
      .feature-list li {
        color: var(--theme-color-dark);
        &:before,
        &:after {
          background-color: var(--theme-color-dark);
        }
        &.colored {
          background-color: #0f0f0f;
        }
      }
      .car-name,
      .city {
        color: var(--theme-color-dark);
      }
      .theme-btn {
        background-color: var(--theme-color-dark);
        color: var(--theme-color-light);
        &.hover-light {
          &:hover {
            color: var(--theme-color-dark);
          }
        }
        &.dark-line-two {
          &:before {
            background-color: var(--theme-color1);
          }
        }
      }
    }
    .content {
      position: relative;
      padding: 34px 30px 50px;
      background-color: var(--theme-color1);
      overflow: hidden;
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--theme-color-dark);
        @include transition(all 300ms ease);
      }
      &::after {
        background-image: url(../images/icons/shape-3.png);
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 7px;
        @include transition(all 300ms ease);
      }
      .pricing-tag {
        background-color: var(--theme-color-light);
        color: var(--theme-color-dark);
        font-family: var(--title-font);
        font-weight: 500;
        display: inline-block;
        padding: 4px 10px 4px 30px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 12% 100%);
        position: absolute;
        top: 54px;
        right: -18px;
        transform: rotate(-90deg);
        pointer-events: none;
        z-index: 1;
      }
    }
    .car-detail {
      padding-top: 10px;
      margin-bottom: 58px;
    }
    .car-name {
      position: relative;
      color: var(--theme-color-light);
      font-size: 32px;
      margin-bottom: 2px;
      text-transform: uppercase;
      @include transition(all 300ms ease);
    }
    .city {
      position: relative;
      font-family: var(--title-font);
      color: var(--theme-color-light);
      font-size: 21px;
      margin-bottom: 26px;
      @include transition(all 300ms ease);
    }
    .feature-list {
      position: relative;
      margin-bottom: 76px;
      li {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 0 8px 30px;
        margin-bottom: 2px;
        color: var(--theme-color-light);
        @include transition(all 300ms ease);
        @include media-breakpoint-down(xl){
          padding: 8px 15px;
        }
        &:before {
          background-color: var(--theme-color1);
          content: "";
          width: 6px;
          height: 13px;
          left: 0;
          position: absolute;
          top: 50%;
          transform: skewX(-22deg) translateY(-50%);
          @include transition(all 300ms ease);
        }
        &:after {
          background-color: var(--theme-color1);
          content: "";
          width: 2px;
          height: 13px;
          left: 9px;
          position: absolute;
          top: 50%;
          transform: skewX(-22deg) translateY(-50%);
          @include transition(all 300ms ease);
        }
        &.colored {
          background-color: #f3f3f3;
        }
        .price {
          position: relative;
          font-weight: 700;
          min-width: 75px;
          text-align: right;
        }
      }
    }
    .btn-box {
      position: relative;
      margin: 0 auto;
    }
    .theme-btn {
      position: relative;
      &.dark-line-two {
        &:before {
          top: 0;
          height: calc(100% + 1px);
        }
      }
    }
  }
}