/*** 
====================================================================
  Services Section
====================================================================
***/

.service-section{
  position: relative;
  padding: 120px 0 65px;
  @include media-breakpoint-down(lg){
    padding-bottom: 90px;
  }
  .outer-box {
    position: relative;
    padding-bottom: 20px;
    @include media-breakpoint-down(lg){
      padding-bottom: 0;
    }
    .bg-overlay-8 {
      position: absolute;
      bottom: 0;
      left: 0;
      @include media-breakpoint-down(lg){
        display: none;
      }
    }
  }
}

.service-block{
  margin-bottom: 30px;
  .inner-box {
    position: relative;
    overflow: hidden;
    text-align: center;
    padding-bottom: 55px;
    &::before{
      position: absolute;
      left: 80px;
      bottom: 0;
      width: 200px;
      height: 381px;
      -webkit-transform: skewX(-25deg);
      transform: skewX(-20deg);
      content: "";
      background-color: #f7f6f2;
      transition: all 300ms ease;
    }
    &:hover {
      &:before{
        background-color: var(--theme-color1);
        opacity: .3;
      }
      .image-box {
        &:after {
          height: 100%;
        }
        .image {
          border-color: var(--theme-color1);
          img {
            transform: scale(1.1);
          }
        }
      }
    }
    .image-box {
      position: relative;
      display: inline-block;
      padding: 14px;
      overflow: hidden;
      border-radius: 50%;
      margin-bottom: 30px;
      @include media-breakpoint-down(lg){
        margin-bottom: 10px;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 50%;
        border: 1px solid var(--theme-color1);
      }
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        border-radius: 50%;
        background: var(--theme-color1);
        @include transition(all 300ms ease);
      }
      .image {
        position: relative;
        border-radius: 50%;
        margin-bottom: 0;
        overflow: hidden;
        @include transition(all 300ms ease);
        img {
          position: relative;
          display: block;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
          z-index: 3;
          @include transition(all 300ms ease);
        }
      }
    }
    .content {
      position: relative;
      text-align: center;
      .title {
        position: relative;
        color: var(--theme-color-dark);
        font-size: 32px;
        margin-bottom: 12px;
      }
      .text {
        position: relative;
        margin-bottom: 0;
        max-width: 320px;
        margin: 0 auto;
      }
    }
  }
}

/*** 
====================================================================
  Services Section Two
====================================================================
***/

.service-section-two {
  position: relative;
  padding: 120px 0 65px;

  .btn-column {
    .inner-column {
      margin-right: -30px;
      @include media-breakpoint-down(xl){
        margin-right: -90px;
      }
      @include media-breakpoint-down(lg){
        margin-right: 0;
      }
      .sec-title {
        margin-bottom: 42px;
        h2 {
          line-height: 1em;
        }
      }

      .tab-btns {
        position: relative;
        display: inline-block;
        padding-left: 4px;
        @include media-breakpoint-down(md){
          margin-bottom: 30px;
        }
        .tab-btn {
          position: relative;
          font-family: var(--title-font);
          font-size: 30px;
          line-height: 1em;
          cursor: pointer;
          margin-bottom: 55px;
          color: rgb(255, 255, 255, .20);
          @include transition(all 300ms ease);
          @include media-breakpoint-down(md){
            font-size: 30px;
            margin-bottom: 20px;
          }
          sup {
            position: relative;
            font-size: 20px;
            margin-right: 24px;
            color: rgb(154, 154, 154, .20);
            @include transition(all 300ms ease);
            @include media-breakpoint-down(md){
              margin-right: 5px;
            }
          }
          .icon {
            position: relative;
            opacity: 0;
            font-size: 12px;
            line-height: 1em;
            margin-left: 25px;
            color: var(--theme-color-light);
            transform: translateY(-50%);
            @include transition(all 300ms ease);
          }
          &:hover,
          &.active-btn {
            color: var(--theme-color-light);
            sup {
              color: var(--theme-color1);
            }
            .icon {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .image-box {
    margin-bottom: 50px;
    .inner-box {
      position: relative;
      text-align: right;
      padding-top: 54px;
      margin-right: -13px;
      @include media-breakpoint-down(lg){
        margin-right: 0;
        padding-top: 0;
      }
      &:before {
        content: "";
        position: absolute;
        top: 13px;
        right: 164px;
        width: 330px;
        height: 637px;
        background-color: var(--theme-color1);
        transform: skewX(-23deg);
        @include media-breakpoint-down(lg){
          display: none;
        }
      }
      .image {
        position: relative;
        margin-bottom: 0;
        @include media-breakpoint-down(lg){
          width: 100%;
          height: 100%;
        }
        img {
          @include media-breakpoint-down(lg){
            width: 100%;
          }   
        }
      }
      .exp-box {
        position: absolute;
        bottom: 46px;
        left: 85px;
        padding: 35px 30px 44px 50px;
        max-width: 364px;
        display: inline-block;
        background-color: var(--theme-color-dark);
        border: 2px solid var(--theme-color1);
        text-align: left;
        @include media-breakpoint-down(lg){
          left: 30px;
          bottom: 30px;
        }
        @include media-breakpoint-down(sm){
          position: relative;
          bottom: 0;
          left: 0;
          padding: 20px;
          margin-top: 10px;
          max-width: auto;
        }
        .text {
          position: relative;
          color: #a4a4a4;
          margin-bottom: 26px;
        }
        .read-more {
          position: relative;
          font-family: var(--title-font);
          font-size: 18px;
          letter-spacing: 0.04em;
          color: var(--theme-color-light);
          border-bottom: 2px solid var(--theme-color1);
          text-transform: uppercase;
        }
      }
    }
  }
}

/*** 
====================================================================
  Services Section Three
====================================================================
***/

.service-section-three {
  position: relative;
  padding: 120px 0 120px;
  .sec-title {
    margin-bottom: 30px;
  }
  .default-dots {
    .owl-dots {
      margin-top: 40px;
    }
  }
}

.service-block-three {
  margin-bottom: 30px;
  .inner-box {
    position: relative;
    overflow: hidden;
    @include transition(all 300ms ease);
    &:hover {
      box-shadow: 0 10px 10px rgb(4, 4, 4, 0.08);
      .image-box {
        .image {
          border-color: var(--theme-color1);
          img {
            transform: scale(1.1);
          }
        }
        .icon {
          color: var(--theme-color-light);
          background-color: var(--theme-color-dark);
        }
      }
    }
    .image-box {
      position: relative;
      .image {
        position: relative;
        margin-bottom: 0;
        overflow: hidden;
        @include transition(all 300ms ease);
        img {
          position: relative;
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          @include transition(all 300ms ease);
        }
      }
      .icon {
        position: absolute;
        bottom: -20px;
        right: 0;
        width: 150px;
        height: 113px;
        @include flex-center;
        font-size: 60px;
        color: var(--theme-color-dark);
        background-color: var(--theme-color1);
        clip-path: polygon(30% 0, 100% 0, 70% 100%, 0% 100%);
        z-index: 1;
        @include transition(all 300ms ease);
      }
    }
    .content {
      position: relative;
      padding: 40px 40px 26px;
      border: 1px solid #cecece;
      border-top: none;
      @include media-breakpoint-down(xl){
        padding: 30px 30px;
      }
      @include media-breakpoint-down(sm){
        padding: 30px 15px;
      }
      .title {
        position: relative;
        color: var(--theme-color-dark);
        margin-bottom: 17px;
        &:hover {
          color: var(--theme-color2);
        }
      }
      .text {
        position: relative;
        color: #444444;
        line-height: 26px;
        margin-bottom: 20px;
      }
      .icon {
        position: relative;
        width: 40px;
        height: 40px;
        @include flex-center;
        border-radius: 50%;
        font-size: 12px;
        color: var(--theme-color-dark);
        border: 1px solid var(--theme-color-dark);
        background-color: var(--theme-color-light);
        @include transition(all 300ms ease);
        &:hover {
          background-color: var(--theme-color1);
          border-color: var(--theme-color1);
        }
      }
    }
  }
}

/*** 
====================================================================
  Services Section Four
====================================================================
***/

.service-section-four {
  position: relative;
  padding: 120px 0 120px;
  .service-tab {
    .tab-btns-box {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include media-breakpoint-down(xl){
        flex-direction: column;
        text-align: center;
      }
    }
    .tabs-header {
      position: relative;
      margin-top: -20px;
      @include media-breakpoint-down(xl){
        margin-top: 0;
        width: 100%;
        text-align: center;
      }
      .service-tab-btns {
        position: relative;
        display: flex;
        align-items: center;
        @include media-breakpoint-down(xl){
          justify-content: center;
          margin-bottom: 50px;
        }
        @include media-breakpoint-down(sm){
          flex-direction: column;
          margin-bottom: 30px;
        }
        .tab-btn {
          position: relative;
          margin-left: 15px;
          font-size: 20px;
          line-height: 24px;
          color: #161616;
          font-family: var(--title-font);
          cursor: pointer;
          text-align: center;
          white-space: nowrap;
          background-color: transparent;
          @include transition(all 300ms ease);
          @include media-breakpoint-down(xl){
            margin-left: 0;
            margin: 0 7px;
          }
          @include media-breakpoint-down(sm){
            margin: 0;
            margin-bottom: 20px;
          }
          &:before{
            content: "";
            position: absolute;
            right: 0;
            bottom: 0px;
            width: 0;
            border-bottom: 6px solid var(--theme-color1);
            @include transition(all 300ms ease);
          }
          &.active-btn,
          &:hover {
            &:before {
              left: 0;
              right: auto;
              width: 100%;
            }
          }
        }
      }
    }
    .tabs-content {
      .default-navs-two {
        .owl-nav {
          margin-top: -70px;
          @include media-breakpoint-down(xl){
            display: none !important;
          }
        }
      }
      .tab {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: auto;
        visibility: hidden;
        &.active-tab {
          position: relative;
          visibility: visible;
          z-index: 5;
        }
      }
    }
  }
}

.service-block-four {
  .inner-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-down(lg){
      flex-direction: column;
    }
    .image-box {
      position: relative;
      margin-top: 10px;
      order: 2;
      .bg-overlay-4 {
        position: absolute;
        top: 0;
        left: -162px;
        bottom: 0;
        z-index: 1;
        @include media-breakpoint-down(xl){
          display: none;
        }
      }
      .icon-car-6 {
        position: absolute;
        bottom: 75px;
        left: -185px;
        z-index: 2;
        @include media-breakpoint-down(xl){
          display: none;
        }
      }
      .image {
        position: relative;
        @include media-breakpoint-down(xl){
          margin-left: 50px;
        }
        @include media-breakpoint-down(lg){
          margin-left: 0;
          margin-top: 30px;
        }
      }
    }
    .content {
      position: relative;
      padding-top: 10px;
      .car-detail {
        position: relative;
      }
      .car-name {
        position: relative;
        color: var(--theme-color-dark);
        font-size: 38px;
        margin-bottom: 0;
        text-transform: uppercase;
        @include transition(all 300ms ease);
      }
      .city {
        position: relative;
        font-family: var(--title-font);
        color: var(--theme-color-dark);
        margin-top: -4px;
        font-size: 21px;
        letter-spacing: .120em;
        margin-bottom: 25px;
        text-transform: uppercase;
        @include transition(all 300ms ease);
      }
      .feature-list {
        position: relative;
        margin-bottom: 16px;
        li {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 8px 30px;
          margin-bottom: 2px;
          color: #444444;
          @include transition(all 300ms ease);
          @include media-breakpoint-down(sm){
            padding: 8px 15px;
          }
          &.colored {
            background-color: #f3f3f3;
          }
          .price {
            position: relative;
            font-weight: 700;
            width: 105px;
            text-align: left;
            padding-left: 30px;
          }
        }
      }
      .theme-btn {
        margin-top: 5px;
      }
    }
  }
}

/*** 
====================================================================
  Services Section Five
====================================================================
***/

.service-section-five {
  background-color: #f5f5f5;
  position: relative;
  padding: 120px 0 60px;
  .bg-image {
    background-image: url(../images/background/bg-services5.png);
    pointer-events: none;
    background-position: top center;
    @include media-breakpoint-down(lg){
      display: none;
    }
    &:before {
      background-image: url(../images/icons/shape-1.png);
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 18px;
      @include media-breakpoint-down(xxl){
        display: none;
      }
    }
    &:after {
      background-image: url(../images/icons/shape-1.png);
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 18px;
      @include media-breakpoint-down(xxl){
        display: none;
      }
    }
  }
  .sec-title {
    margin-bottom: 30px;
  }
  .default-dots {
    .owl-dots {
      margin-top: 40px;
    }
  }
}

.service-block-five {
  margin-bottom: 30px;
  .inner-box {
    position: relative;
    overflow: hidden;
    @include transition(all 300ms ease);
    &:hover {
      .image-box {
        &:before {
          background-color: var(--theme-color-dark);
        }
        .image {
          img {
            transform: scale(1.1);
          }
        }
      }
    }
    .image-box {
      position: relative;
      &:before {
        background-color: var(--theme-color1);
        clip-path: polygon(0 27.5%, 100% 0, 100% 74%, 0 99%);
        content: "";
        position: absolute;
        width: calc(100% - 50px);
        height: 100%;
        left: 30px;
        bottom: -26px;
        transform: rotate(.5deg);
        @include transition(all 300ms ease);
      }
      .image {
        position: relative;
        margin-bottom: 0;
        overflow: hidden;
        clip-path: polygon(0 27.5%, 100% 0, 100% 74%, 0 99%);
        @include transition(all 300ms ease);
        img {
          position: relative;
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          @include transition(all 300ms ease);
        }
      }
    }
    .content {
      position: relative;
      text-align: center;
      padding: 46px 30px 0;
      @include media-breakpoint-down(xl){
        padding: 30px 15px 0;
      }
      .title {
        position: relative;
        color: var(--theme-color-dark);
        margin-bottom: 17px;
        &:hover {
          color: var(--theme-color-dark);
        }
      }
      .text {
        position: relative;
        line-height: 26px;
        margin-bottom: 20px;
      }
    }
  }
}

/***

====================================================================
    Service Section Six
====================================================================

***/

.service-section-six {
  background-image: url(../images/background/bg-features1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  padding: 145px 0 148px;
  position: relative;
  @include media-breakpoint-down(lg){
    padding: 90px 0;
  }
  &::before {
    background: var(--theme-color-dark);
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.93;
    position: absolute;
    top: 0;
    width: 100%;
  }
  &::after {
    background-image: url(../images/icons/shape-2.png);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 31px;
  }
  .sec-title {
    border-bottom: 1px solid rgba(255,255,255, .1);
    margin-bottom: 85px;
    padding-bottom: 40px;
    .text {
      margin: 0;
    }
  }

  .icon-lines-3-bottom {
    right: 108px;
    bottom: 50px;
  }
}

.service-block-six {
  position: relative;
  .inner-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
    @include media-breakpoint-down(sm){
      margin-bottom: 24px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &:hover, &.active {
      &:before {
        color: var(--theme-color1);
      }
      .image {
        opacity: 1;
        visibility: visible;
        z-index: 2;
        top: 0;
      }
      .content {
        .info-box {
          .share-icon {
            .icon {
              transform: none;
            }
          }
        }
      }
      .title-box {
        .name {
          color: var(--theme-color1);
        }
      }
    }
    .content {
      border-bottom: 1px solid rgba(255,255,255, .1);
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 0 0 29px 0;
      position: relative;
      max-width: 646px;
      width: 100%;
      .info-box {
        .share-icon {
          position: absolute;
          cursor: pointer;
          top: calc(50% - 12px);
          right: 30px;
          height: 40px;
          width: 40px;
          font-size: 20px;
          line-height: 40px;
          text-align: center;
          color: var(--theme-color-dark);
          background-color: var(--bg-theme-color1);
          border-radius: 3px;
          transform: translateY(-50%);
          -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
          z-index: 3;
          .icon {
            transform: rotate(-45deg);
            transition: all 300ms ease;
          }
        }
      }
    }
    .title-box {
      position: relative;
      @include media-breakpoint-down(xl){
        width: 50%;
      }
      @include media-breakpoint-down(lg){
        width: 100%;
      }
      .name {
        color: var(--theme-color-light);
        margin-bottom: 16px;
      }
      .text {
        color: #B8B8B8;
        position: relative;
      }
    }
    .image-box {
      @include media-breakpoint-down(lg){
        display: none;
      }
    }
    .image {
      position: absolute;
      right: 0;
      top: 320px;
      opacity: 0;
      visibility: hidden;
      width: 430px;
      height: 546px;
      z-index: 1;
      @include transition(all 300ms ease);
      &::before {
        background-color: var(--theme-color1);
        content: "";
        width: 156px;
        height: calc(100% + 40px);
        right: 135px;
        position: absolute;
        top: -20px;
        transform: skewX(-14deg);
        z-index: -1;
      }
    }
  }
}

/*** 
====================================================================
  Services Section Seven
====================================================================
***/

.service-section-seven {
  position: relative;
  padding: 162px 0 151px;

  .btn-column {
    .inner-column {
      .sec-title {
        margin-bottom: 42px;
        h2 {
          line-height: 1em;
        }
      }

      .tab-btns {
        position: relative;
        display: block;
        @include media-breakpoint-down(md){
          margin-bottom: 30px;
        }
        .tab-btn {
          display: flex;
          position: relative;
          font-family: var(--title-font);
          font-size: 30px;
          line-height: 1em;
          cursor: pointer;
          margin-bottom: 13px;
          color: var(--theme-color2);
          @include transition(all 300ms ease);
          @include media-breakpoint-down(md){
            font-size: 30px;
            margin-bottom: 20px;
          }
          .title {
            border: 1px solid #eee;
            display: block;
            padding: 30px 66px;
            width: 100%;
            clip-path: polygon(6.8% 0, 100% 0, 100% 100%, 0% 100%);
            @include transition(all 300ms ease);
          }
          .icon {
            align-items: center;
            border: 1px solid #eee;
            display: flex;
            padding: 28px 25px;
            position: relative;
            font-size: 30px;
            margin-right: -8px;
            color: var(--theme-color2);
            @include transition(all 300ms ease);
            transform: skewX(-21deg);
            i {
              transform: skewX(21deg);
            }
            &:after {
              border-right: 1px solid #eee;
              content: "";
              position: absolute;
              right: -11px;
              width: 1px;
              height: 100%;
              @include transition(all 300ms ease);
            }
          }
          &:hover,
          &.active-btn {
            color: var(--theme-color1);
            .title {
              background-color: var(--theme-color-dark);
            }
            .icon {
              background-color: var(--theme-color-dark);
              border-color: var(--theme-color-dark);
              color: var(--theme-color1);
              &:after {
                border-color: var(--theme-color-dark);
              }
            }
          }
        }
      }
    }
  }

  .image-box {
    .inner-box {
      position: relative;
      text-align: right;
      @include media-breakpoint-down(lg){
        margin-right: 0;
        padding-top: 0;
      }
      &:before {
        content: "";
        position: absolute;
        top: -42px;
        right: 164px;
        width: 214px;
        height: 650px;
        background-color: var(--theme-color1);
        transform: skewX(-13deg);
        @include media-breakpoint-down(lg){
          display: none;
        }
      }
      .image {
        position: relative;
        margin-bottom: 0;
        @include media-breakpoint-down(lg){
          width: 100%;
          height: 100%;
        }
        img {
          @include media-breakpoint-down(lg){
            width: 100%;
          }   
        }
      }
      .exp-box {
        position: absolute;
        bottom: 46px;
        left: 85px;
        padding: 35px 30px 44px 50px;
        max-width: 364px;
        display: inline-block;
        background-color: var(--theme-color-dark);
        border: 2px solid var(--theme-color1);
        text-align: left;
        @include media-breakpoint-down(lg){
          left: 30px;
          bottom: 30px;
        }
        @include media-breakpoint-down(sm){
          position: relative;
          bottom: 0;
          left: 0;
          padding: 20px;
          margin-top: 10px;
          max-width: auto;
        }
        .text {
          position: relative;
          color: #a4a4a4;
          margin-bottom: 26px;
        }
        .read-more {
          position: relative;
          font-family: var(--title-font);
          font-size: 18px;
          letter-spacing: 0.04em;
          color: var(--theme-color-light);
          border-bottom: 2px solid var(--theme-color1);
          text-transform: uppercase;
        }
      }
    }
  }
}